[submodule "pelican-themes"]
	path = pelican-themes
	url = git@github.com:getpelican/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/hemingway"]
	path = themes/hemingway
	url = git@github.com:sw00/hemingway.git
[submodule "public"]
	path = public
	url = git@github.com:sw00/sw00.github.io.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
