[submodule "pelican-themes"]
	path = pelican-themes
	url = git@github.com:getpelican/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/hemingway"]
	path = themes/hemingway
	url = git@github.com:sw00/hemingway.git
